{% extends "base.html" %}

{% block title %}Hakkımda - Kişisel Sitem{% endblock %}

{% block header %}
    <h1>Hakkımda</h1>
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='profil.png') }}" alt="Ahmet Berk Profil Fotoğrafı" class="profil-resmi">
    <p>Ben Ahmet Berk Güneli, Yıldız Teknik Üniversitesi'nde Yapay Zeka ve Veri Mühendisliği öğrencisiyim. Şu an hazırlık sınıfındayım. Hazırlık sınıfındayken boş zamanlarımda kendimi geliştirmeye çalışıyorum. Makine Öğrenmesi, Derin öğrenme, Arduino ve python kütüphaneleri konularında bilgi edinmeye çalışıyorum. Yapay zekada robotik alanında ilerlemeyi düşünüyorum bu yüzden gereken temelleri erkenden atmaya çalışıyorum.  </p>
    <p></p>
{% endblock %}